.containter {
  display: block;
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 9;
}

.whiteText {
  color: white
}

.foreground  {
  position: absolute;
  z-index: '1';
}

.background  {
  position: absolute;
  z-index: 0;
}

.bubble
{
   position: relative;
   width: 70%;
   height: 10%;
   padding: 13px;
   background: #E77225;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
    border: #C4C4C4 solid 2px;
}

.bubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 20px 20px 0;
    border-color: #E77225 transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -20px;
    bottom: -20px;
    left: 80%;
}

.bubble:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 21px 21px 0;
    border-color: #C4C4C4 transparent;
    display: block;
    width: 0;
    z-index: 0;
    margin-left: -21px;
    bottom: -23px;
    left: 80%;
}

.bubble, * {
  color: black
}

.bubble:hover {
  color: white;
  cursor: pointer;
}

.orangeBg {
  background-color: #E77225;
}