.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bords {
  border: 1px solid black;
  color: blue
}

.events-img {
  display: flex;
  padding-bottom: 50px;
}

.events-img div {
  width: 300px;
  display: inline-block;
  padding-right: 5px;
  justify-content: space-around;
}

.events-img p {
  padding-top: 10px;
}

.selected {
  color:rgba(231, 114, 37, 0.72);
  background-color: rgba(231, 114, 37, 0.72);
  margin-right: 5px;
}

.selected-sort {
  color:rgba(231, 114, 37, 0.72);  
}